@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: helvetica, Times, serif;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0; 
}

.line-height {
  line-height: 1rem;
}

.homepage {
  padding: 1rem;
}

.gutter { 
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
}

.navtop {
  padding-top: 2%;
  list-style-type: none;
}

.navtop a,
.navtop a:visited{
  text-decoration:none;
  color: white;
}

.navtop a:hover,
.navtop a:focus,
.navtop a:active, 
.navtop .nav-current,
.navtop .nav-current:link,
.navtop .nav-current:visited {
    background-color: rgba(0,0,0,0.5);
    color: #CC2964;
}

a:focus {
  outline: 3px solid purple;
}

.navtop {
  text-align: center;
}

.top { 
  padding-top: 1%;
  padding-right: 6%;
  padding-bottom: 0;
  float: right;
  }

.navtop li {
  position: relative;
  display: block;
  border: 0;
  text-align: right;
  }

li .top {
  padding-bottom: 0.5rem;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1.24em;
}

.skip-links a:focus {
  top: 0;
}

article {
  padding: 0;
  overflow: hidden;   
}

.title {
  margin:0;
}

header {
  overflow: hidden;
  background-color: black;
  margin: 0;
  padding-top: 0.5rem;
}

.banner-image{
  padding: 0;
  display:block;
  margin: 0;
  margin-bottom: 4rem;
}

.logo {
  height: 3.3rem;
  width: 100px;
  display: block;
  float: left;
  margin: 0;
  padding-bottom: 1rem;
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  background-color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
  color: #fff; 
  text-align: center;
  padding: .5rem 5%;
  margin-bottom: 0;
}

.link {
  font-size: 1.3rem;
  margin: 2rem 20%;
  color: black; 
  text-align: center;
  padding: .5rem 5%;
}

.link a {
  text-decoration: none;
  color:  black;
}


.link a:hover {
  opacity: .5;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}


.social-media {
  padding: 2em 0; 
  overflow: hidden;
  background-color: black;
}

.social-media a {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0 5% 0 0;
  display: inline-block;
  text-align: center;
}

.social-media a:hover {
  opacity: .5;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.social-media img {
  width: 40px;
  margin: 0 auto;
}

.social-media a:nth-child(3){
  margin: 0;
}

.contact-info {
  overflow: visible;
}

@media only screen and (min-width: 22em) {
    
    .nav li {
        display: inline-block;
        border: 0;
    }
    
    .nav {
        text-align: center;
    }
    
    center {
        text-align:center;   
}
    
    fspan {
       display: inline;
   } 
    
    .footerspan {
        display:inline-block;
}
    
footer {
    background-color: #fff;
    margin: 1.5rem auto;
    height: 8em;
    overflow: hidden;
    border-top: solid black 1em;
}

ul {
    padding:0;
    margin:0;
    padding: 0 1rem;
   /* padding-bottom: 1.5rem;*/
}

.desc-img {
    width: 100%;
    position:relative;
}

.img-flex {
    width:100%;
}

.copyright {
    color: black;
    position: absolute;
    padding-top: 1em;
}

  .navtop li {
    display: inline-block;
    float: 
    }
}

@media only screen and (min-width: 25em){

    .nav-top {
        max-height: 5em;
        text-align: center;
    }
    
    .nav-top ul{
        position: static;
        display: inline;     
    }
    
    .nav-top a {
        display: inline-block;
        font-size: 1em;
    }
        
    .nav-top li {
      display: inline-block;
      margin: 0.5em;
      padding: 1em;
      padding-right: 6%
    }
    
    .nav-btn {
      display: none;
    }
  
h2 {
    margin-top: 0;

  }
  
  .about-me {
    padding-top: 0.75em;
  
  
}
  
@media only screen and (min-width: 50em) {
    
    .nav {
        float: left;
    }
    
    .nav-right {
        float: right;
        padding-right: 1em;    
    }
    
    span {
       display: inline;
   } 
    
     .footerspan {
        display:inline-block;
     }    
    
    .top { 
        padding-right: 6%;
    }
    
    h2 {
    margin-top: 5em;
  
  
  }
  
}

current {
  background-color: #000531;
  color: #fff;
}
  
figure {
  margin: 0;
  padding: 0;
  height: 300px;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid #fff;
}

figure:hover figcaption {
  opacity: 1;
  top: 0;
}

figcaption {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  color: #fff;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  -ms-transition-delay: .5s;
  transition-delay: .5s;
}

figure img {
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  -ms-transition-delay: .5s;
  transition-delay: .5s;
}

figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

figcaption h1 {
  font-family: 'Open sans';
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 0;
  position: relative;
  right: 100%;
  margin-top: 37px;
  font-size: 30px;
}

figcaption p {
  font-family: 'Open sans';
  padding: 10px 20px;
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
  left: 100%;
  font-size: 13px;
}

figure:hover h1,figure:hover p {
  left: 0;
}

figcaption a {
  color: #fff;
  border: 2px solid #fff;
  padding: 4px 10px;
  text-decoration: none;
}

figcaption a:hover {
  color: #9E1D28;
  background: #fff;
}