<nav id="navigation" role="navigation">
       <ul class="navtop {{include.navclass}}">
         <li class= "top"><a href="{{site.baseurl}}/index/" class= "giga" "{% if page.url == 'index.html' %}current{% endif %}" >Main</a></li>
         <li class= "top"><a href="{{site.baseurl}}/portfolio/" class= "giga" "{% if page.url == 'portfolio.html' %}current{% endif %}">Portfolio</a></li>
         <li class= "top"><a href="{{site.baseurl}}/#social-media" class= "giga">Follow Me</a></li>
     </ul>
</nav>