   <!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} . {% endif %} Hello there!{% if page.titleAfter %} . {{page.titleAfter}}{% endif %}</title
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}junior graphic designer in Ottawa">
</head>    
<body>    
  
 <header role="banner" id="top">     
       <ul class="skip-links">
         <li><a href="#aboutme">Skip to About me</a></li>
         <li><a href="#footer">Skip to social media</a></li>
         <li><a href="#main">Skip to main content</a></li>
         <li><a href="#navigation">Skip to navigation</a></li>
    </ul>
   {% include nav.html navclass= 'nav-top' %}
    </header>
  
  
  {{content}}
  
  <footer role="social-media" id="social-media">
     
    <div class="social-media">
        <a href= "https://www.facebook.com/nadim.abdelmalik"><img src= "images/facebook-logo.svg" alt="facebook"></a>
        <a href= "https://www.instagram.com/nadim944/"><img src= "images/instagram-logo.svg" alt="instagram"></a>
        <a href= "https://www.linkedin.com/pub/nadim-abdelmalek/b1/b21/606"><img src= "images/linkedin-logo.svg" alt="linkedin"></a>
    </div>
        
        <p class="copyright gutter">©Copyright 2015 Nadim Abdelmalek</p>
       </footer>  
  </body>
</html>